---
interface Props {
	title: string
}
const { title } = Astro.props

//Analytics Vercel
import Analytics from '@vercel/analytics/astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"

//Estilos
import '../styles/global.css'
import '../styles/navbar.css'

//Componentes
import Navbar from '../components/Navbar.astro'
import Particles from '../components/Particles.astro'
---

<!doctype html>
<html lang="es">
	<head>
		<!-- Metadata --> 
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Sitio web comunitario de K4V0G: Explora nuestros proyectos de software, recursos sobre ciberseguridad y únete a una comunidad de desarrolladores y entusiastas de la tecnología. Aprende y comparte sobre hacking ético, programación y últimas tendencias tecnológicas." />
		<meta name="keywords" content="K4V0G, desarrollador, software, ciberseguridad, hacking ético, tecnología, comunidad tech, portafolio, programación, proyectos, recursos, aprendizaje, infosec, dev, comunidad de desarrolladores, hackthebox, tryhackme, pwned, CTF" />
		<meta name="author" content="K4V0G Team" />
		<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
		<meta name="googlebot" content="index, follow"/>
		<meta name="bingbot" content="index, follow"/>
		<meta name="yandexbot" content="index, follow"/>
		
		<!-- Open Graph / Discord -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://k4v0g.github.io/" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content="🚀 Comunidad K4V0G: Proyectos de software, recursos de ciberseguridad y hacking ético. Únete a nuestra comunidad tech!" />
		<meta property="og:image" content="https://k4v0g.github.io/K4V0G_logo2.webp" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:site_name" content="K4V0G Community" />
		<meta property="og:locale" content="es_ES" />
		<meta property="og:image:alt" content="Logo de K4V0G Community - Comunidad de desarrolladores y ciberseguridad" />
		
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://k4v0g.github.io/" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content="Sitio web comunitario de K4V0G: Explora nuestros proyectos de software, recursos sobre ciberseguridad y únete a una comunidad de desarrolladores y entusiastas de la tecnología." />
		<meta property="twitter:image" content="https://k4v0g.github.io/K4V0G_logo.webp" />
		
		<!-- Links -->
		<link rel="icon" type="image/svg+xml" href="/K4V0G_favicon.svg" />

		<title>{title}</title>
	</head>
<body class="bg-gradient-to-br from-cyan-900 via-blue-900 to-purple-900">
	<Particles />
	<div class="">
		<Navbar />
		<slot />
	</div>
</body>
</html>

